.header {
    width: 100%;
    background-color:rgba(8, 7, 7, 0.322);
    border-bottom: solid 2px black;
}
.menu {
    margin: 0%;
    padding: 0%;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content:space-around;
}
.logo{
    height: 2rem;
}

.menu li {
   font-weight: 700;
   padding: .2rem;
   text-align: center;

}